body{
    margin: 0;
    padding-top: 800px;
    text-align: center;

}
.profile{
    border-radius: 50%;
}
#welcome{
    position: absolute;
    bottom: 0;
    background: linear-gradient(#00ff5c 0%,#1200ff 100%);
    display: table;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
#name{
    font-size: 50px;
    font-family: cursive;
}
.menu{
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
.link{
    float: left;
    padding-top: 25px;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
}
#bio{
font-family: 'Cormorant Garamond', serif;
    padding: 50px;
    margin: 50px;
}
.parallax-inner{
    display: table-cell;
    vertical-align: middle;

}
a{
    font-size: 24px;
    text-decoration: none;
}
.contact_1 h3{
    display: inline;
}
#contact{
    background: aqua;
}
.link:hover{
    font-size: 25px;
    text-decoration: underline;
}
#writings a{
    text-decoration: underline !important;
    color: aquamarine;
}